# --- C# / .NET / IDE stuffs ---
bin/
obj/
*.sln
*.csproj.user
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.doccache

# --- Secrets & Infrastructure  ---
.env
appsettings.Development.json
*.p12
*.pem
*.pfx
secrets.json
steam_appid.txt
docker-compose.override.yml

# --- Logs & OS ---
logs/
*.log
.DS_Store
Thumbs.db
